#slider_wrapper{
    background-color: #eae8dc;
    border: 1px solid transparent;
    margin: 0 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    position: relative;
}

#slider_wrapper input{
   display: none;
}

.slider_active{
    text-align: center;
    padding: 5px 0;
}

.slider_active label{
    height: 13px;
    width: 13px;
    border-radius: 7px;
    background-color: #969696;
    display: inline-block;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}


#slider{
    height: 270px;
    margin: 20px 20px 0;
    background-color: #ffffff;
    position: relative;
}

.slider_img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.slider_arrow label{
    width: 108px;
    height: 47px;
    position: absolute;
    cursor: pointer;
    z-index: 5;
    display: none;
}


/*style slider_arrow left adn right --------------------*/
#radio_01:checked ~ .slider_arrow label:nth-child(5),
#radio_02:checked ~ .slider_arrow label:nth-child(1),
#radio_03:checked ~ .slider_arrow label:nth-child(2),
#radio_04:checked ~ .slider_arrow label:nth-child(3),
#radio_05:checked ~ .slider_arrow label:nth-child(4){
    background: url(../images/arrow_left_02.png) no-repeat;
    top: 130px;
    left: -52px;
    display: block;
}

#radio_01:checked ~ .slider_arrow label:nth-child(2),
#radio_02:checked ~ .slider_arrow label:nth-child(3),
#radio_03:checked ~ .slider_arrow label:nth-child(4),
#radio_04:checked ~ .slider_arrow label:nth-child(5),
#radio_05:checked ~ .slider_arrow label:nth-child(1){
    background: url(../images/arrow_right_02.png) no-repeat;
    top: 130px;
    right: -52px;
    display: block;
}

/*change background selected label --------------------*/
#radio_01:checked ~ .slider_active label:nth-child(1),
#radio_02:checked ~ .slider_active label:nth-child(2),
#radio_03:checked ~ .slider_active label:nth-child(3),
#radio_04:checked ~ .slider_active label:nth-child(4),
#radio_05:checked ~ .slider_active label:nth-child(5){
     background-color: #9a0e0e;
}

/*show img selected --------------------*/
#radio_01:checked ~ #slider .slider_img:nth-child(1),
#radio_02:checked ~ #slider .slider_img:nth-child(2),
#radio_03:checked ~ #slider .slider_img:nth-child(3),
#radio_04:checked ~ #slider .slider_img:nth-child(4),
#radio_05:checked ~ #slider .slider_img:nth-child(5){
    display: block;
}

/*background img --------------------*/
#img_01{
    background: url(../images/slider_001.jpg) center center/ auto no-repeat;
}

#img_02{
    background: url(../images/slider_002.jpg) center center/ auto no-repeat;
}

#img_03{
    background: url(../images/slider_003.jpg) center center/ auto no-repeat;
}

#img_04{
    background: url(../images/slider_004.jpg) center center/ auto no-repeat;
}

#img_05{
    background: url(../images/slider_005.jpg) center center/ auto no-repeat;
}

/*slider css animation --------------------*/

.slider_active label:nth-child(3) {
     width: 26px;
}

@keyframes slidering {
    0%, 10% {background: url(../images/slider_003.jpg) center center/ auto no-repeat;}
    20%, 30% {background: url(../images/slider_004.jpg) center center/ auto no-repeat;}
    40%, 50% {background: url(../images/slider_005.jpg) center center/ auto no-repeat;}
    60%, 70% {background: url(../images/slider_001.jpg) center center/ auto no-repeat;}
    80%, 90% {background: url(../images/slider_002.jpg) center center/ auto no-repeat;}
}

@keyframes animated_progress {
    0%,10%{background-position-x: -26px;}
    20%,30%{background-position-x: -21px;}
    40%,50%{background-position-x: -16px;}
    60%,70%{background-position-x: -11px;}
    80%,90%{background-position-x: -6px;}
    100%{background-position-x: -0px;}
}


#radio_03:checked ~ #slider .slider_img:nth-child(3){
   animation: slidering 30s infinite ease; 
}


#radio_03:checked ~ .slider_active label:nth-child(3){
    animation: animated_progress 30s infinite ease;
    background: url(../images/progress_01.png) no-repeat;
    background-size: cover;
    background-color: #9a0e0e;
}
